.backdrop {
	position: fixed;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	background-color: $backdrop-color;
	opacity: 1;

	@extend %transition;

	&--is-hidden {
		opacity: 0;
		pointer-events: none;
		visibility: hidden;
	}
}

.modal {
	position: absolute;
	transform: translate(-50%, -50%) scale(1);

	top: 50%;
	left: 50%;
	width: 528px;
	height: 581px;

	padding: 40px;

	background-color: $main-background-color;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;

	@extend %transition;

	.backdrop--is-hidden & {
		transform: translate(-50%, -50%) scale(1.3);
	}

	&__btn {
		position: absolute;
		top: 8px;
		right: 8px;

		@include centeredFlex;

		width: 30px;
		height: 30px;
		border: 1px solid rgba(0, 0, 0, 0.1);
		border-radius: 50%;

		background-color: $main-background-color;

		@extend %transition;
	}

	&__btn:hover,
	&__btn:focus {
		color: $accent-color;
	}

	&__text {
		text-align: center;
		margin-bottom: 12px;

		font-weight: 700;
		font-size: 20px;
		line-height: 1.15;
		color: $title-text-color;
	}

	&__close-icon {
		@extend %icon;
	}
}
